.banner {
    height: 800px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    /* padding-top: 150px !important; */
}

.banner .swiper1 {
    height: 100%;
    width: 100%;
}

.swiper1 .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}



@media screen and (max-width:1478px) {
    .banner {
        /* padding-top: 130px !important; */
        height: auto;
    }
}

@media screen and (max-width:1080px) {
    .content_two {
        margin-top: -800px !important;
    }
}