@charset "utf-8";

body {
	margin: 0 auto;
	font-size: 12px;
	color: #333;
	font-family: "Microsoft yahei", Arial, Helvetica, sans-serif;
	line-height: normal;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
}

h4,
h5,
h6 {
	font-weight: normal;
}

ul,
li {
	list-style: none;
}

li {
	float: left;
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

::before,
::after {
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

h3,
b,
em,
h4,
i {
	transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
}

img {
	border: 0px;
	max-width: 100%;
	height: auto !important;
}

a {
	color: #333;
	text-decoration: none;
}

dd,
dl,
dt,
em,
h1,
h2,
h3,
h4,
h5,
i {
	font-weight: normal;
	font-style: normal
}

i,
em {
	font-style: normal;
}

a:hover {
	color: #10b981;
	text-decoration: none;
}

a:active {
	text-decoration: none
}

a:focus {
	outline: none;
}

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

blockquote.alignleft {
	margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}

blockquote.alignright {
	margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}

blockquote.aligncenter {
	margin-bottom: 1.473684211em;
}

.tx-float {
	float: left;
	width: 100%;
}

.tx-center {
	margin: 0 auto;
	max-width: 1280px;
	clear: both;
}

body {
	min-width: 1260px;
}

html,
body {
	width: 100%;
	height: 100%;
}

.swiper-container {
	width: 100%;
}

.swiper-slide,
.swiper-wrapper {
	height: auto;
}

.swiper-slide img {
	width: 100% !important;
	height: 100% !important;
}

.tx-qqs,
.tx-boxx {
	cursor: pointer;
}

.tx-padding {
	padding: 66px 0 50px;
}

.tx-padding100 {
	padding: 72px 0;
}

h3 {
	transition: 0s;
	-moz-transition: 0s;
	-webkit-transition: 0s;
	-o-transition: 0s;
}

@font-face {
	font-family: 'iconfont';
	/* project id 2211658 */
	src: url('../fonts/font_2211658_87bj2wth93k.eot');
	src: url('../fonts/font_2211658_87bj2wth93k.eot') format('embedded-opentype'),
		url('../fonts/font_2211658_87bj2wth93k.woff2') format('woff2'),
		url('../fonts/font_2211658_87bj2wth93k.woff') format('woff'),
		url('../fonts/font_2211658_87bj2wth93k.ttf') format('truetype'),
		url('../fonts/font_2211658_87bj2wth93k.svg#iconfont') format('svg');
}

/* @font-face{
	font-family: 'iconfont';
	src:url('../fonts/iconfont.ttf') format('truetype');
} */
i {
	font-family: "iconfont";
}

.tx-top {
	background: #10b981;
	color: #bbb;
	line-height: 18px;
	padding: 10px 0;
}

.tx-top h1 {
	font-size: 14px;
}

.tx-top a {
	display: inline-block;
	font-size: 14px;
	padding: 0 15px;
	color: #bbb;
	border-right: 1px solid #888;
	line-height: 14px;
	margin-top: 2px;
}

.tx-top a:last-child {
	border: none;
	padding-right: 0;
}

.tx-top a:hover {
	color: #fff;
}

.tx-search {
	background: #f0f0f0;
	padding: 8px 0;
}

.tx-search .tel {
	line-height: 25px;
	font-size: 18px;
	color: #10b981;
	margin-right: 18px;
}

.tx-search .tel i {
	font-size: 24px;
	position: relative;
	top: 2px;
	margin-right: 8px;
}

.tx-search .main {
	margin-top: 2px;
}

.tx-search .main .text {
	float: left;
	line-height: 27px;
	height: 27px;
	width: 180px;
	padding: 0 16px;
	border: 1px solid #e2e2e2;
	border-top-left-radius: 99px;
	border-bottom-left-radius: 99px;
}

.tx-search .main .submit {
	float: left;
	line-height: 27px;
	height: 26px;
	width: 32px;
	padding: 0 30px 0 10px;
	background: #10b981;
	color: #fff;
	font-family: 'iconfont';
	border: none;
	border-top-right-radius: 99px;
	border-bottom-right-radius: 99px;
}

.tx-head {
	position: relative;
	top: 0;
	left: 0;
	z-index: 888;
	background: #f2f2f2;
}

.tx-head .tx-center {
	position: relative;
}

.tx-head.fixer {
	background: #f2f2f2;
	box-shadow: 0 0 6px #ccc;
}

.tx-head-logo {
	position: relative;
	margin-top: 0;
	z-index: 10;
}

.tx-head-logo:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #10b981;
	opacity: 0.1;
	z-index: -1;
}

.tx-head-logo img {
	height: 85px !important;
}

.tx-head-logos {
	margin-left: 30px;
	margin-top: -35px;
}

.tx-head-logos img {
	margin: 0 6px;
	height: 26px !important;
}

.tx-head-navs {
	width: 52px;
	line-height: 76px;
	text-align: center;
	color: #10b981;
	font-size: 30px;
	cursor: pointer;
	margin-left: 20px;
}

.tx-navbox {
	display: none;
	position: absolute;
	z-index: 888;
	top: 76px;
	right: 0;
	border-top: 1px solid #e2e2e2;
	width: 100%;
}

.tx-navbox-right {
	width: 18%;
}

.tx-navbox-right>li {
	width: 100%;
	border-bottom: 1px solid #3e62d9;
}

.tx-navbox-right>li>a {
	display: block;
	font-size: 16px;
	line-height: 52px;
	text-align: right;
	background: #10b981;
	padding: 0 35px;
	color: #fff;
}

.tx-navbox-right>li>a>i:last-child {
	font-size: 22px;
	margin-left: 30px;
}

.tx-navbox-right>li>a>i:first-child {
	float: left;
	font-size: 12px;
	opacity: 0.5;
}

.tx-navbox-right>li>a:hover,
.tx-navbox-right>li.active>a {
	color: #10b981;
	background: #fff;
}

.tx-navbox-right .main {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 82%;
	height: 100%;
	background: #fff;
	padding: 40px;
	box-shadow: 0 0 6px #eee;
}

.tx-navbox-right .main .img {
	width: 25%;
	text-align: center;
}

.tx-navbox-right .main .img li {
	margin-top: 10px;
}

.tx-navbox-right .main .img li:first-child {
	margin-top: 0;
}

.tx-navbox-right .main .img img {
	width: 100%;
	height: 120px !important;
}

.tx-navbox-right .main .img h3 {
	font-size: 14px;
	line-height: 30px;
}

.tx-navbox-right .main .text {
	float: right;
	width: 75%;
	padding-left: 40px;
}

.tx-navbox-right .main .text li {
	width: 33.33%;
	font-size: 16px;
	text-align: center;
	border-left: 1px solid #e2e2e2;
	line-height: 18px;
	margin: 20px 0;
	padding: 0 20px;
	height: 18px;
	overflow: hidden;
}

.tx-navbox-right .main .text li:nth-child(3n-2) {
	border-left: 0;
}

.tx-navbox-right li:hover .main {
	display: block;
}

.tx-head-nav>li {
	position: relative;
}

.tx-head-nav>li>a {
	position: relative;
	display: block;
	padding: 0 12px;
	line-height: 76px;
	font-size: 17px;
	margin: 0 15px;
}

.tx-head-nav>li>a:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	background: #10b981;
}

.tx-head-nav>li.active>a:before,
.tx-head-nav>li:hover>a:before {
	width: 100%;
}

.tx-head-nav>li.active>a,
.tx-head-nav>li:hover>a {
	color: #10b981;
}

.tx-head-nav .sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
}

.tx-head-nav .sub-menu:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}

.tx-head-nav>li:hover>.sub-menu {
	/* display: block; */
	display: none;
}

.tx-head-nav .sub-menu>li {
	width: 100%;
}

.tx-head-nav .sub-menu>li>a {
	display: none;
	color: #fff;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	padding: 0 15px;
}

.tx-head-nav .sub-menu>li>a:hover {
	background: #10b981;
}


.tx-nav-box {
	display: none;
	position: absolute;
	background: #fff;
	top: 88px;
	left: 0;
	width: 100%;
	z-index: 887;
	padding: 40px 0;
	min-width: 1280px;
}

.tx-nav-box .main>li {
	width: 14.28%;
}

.tx-nav-box .main>li>a {
	font-size: 18px;
}

.tx-nav-box .main>li>a:hover {
	color: #10b981;
}

.tx-nav-box .main .sub-menu {
	margin-top: 20px;
	width: 100%;
}

.tx-nav-box .main .sub-menu>li {
	line-height: 36px;
	clear: both;
	width: 100%;
}

.tx-nav-box .main .sub-menu>li>a {
	font-size: 14px;
	color: #888;
}

.tx-nav-box .main .sub-menu>li>a:hover {
	color: #edba4d;
}

.tx-nav-box .down {
	margin-top: 20px;
	border-top: 1px solid #e2e2e2;
	padding-top: 20px;
}

.wxjuzhong1 {
	margin-left: 100px !important;
}

.wxjuzhong {
	margin-left: 80px !important;
}

.tx-banner .swiper-slide {
	position: relative;
	width: 100%;
	height: 720px;
	overflow: hidden;
}

.tx-banner .swiper-slide video {
	position: relative;
	z-index: 20;
	width: 100%;
}

.tx-banner .swiper-slide .text {
	position: absolute;
	z-index: 99;
	color: #fff;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 1260px;
}

.tx-banner .swiper-slide .text h4 {
	font-size: 22px;
	letter-spacing: 2;
}

.tx-banner .swiper-slide .text h3 {
	font-size: 46px;
	font-weight: bold;
	letter-spacing: 2;
	margin: 30px 0 65px;
}

.tx-banner .swiper-slide .text em {
	display: inline-block;
	background: #10b981;
	line-height: 50px;
	font-size: 16px;
	padding: 0 30px;
	border-radius: 99px;
}

.tx-banner .swiper-slide .text a {
	position: relative;
	display: inline-block;
	padding: 0 50px;
	line-height: 48px;
	border: 1px solid #fff;
	font-size: 17px;
	color: #fff;
}

.tx-banner .swiper-slide .text a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: #10b981;
	z-index: -1;
}

.tx-banner .swiper-slide .text a:hover:before {
	width: 100%;
}

.tx-banner .swiper-slide .text a:hover {
	border-color: #10b981;
}

.tx-banner-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	height: 382px;
	max-width: 1660px;
	padding: 0 15px;
}

.tx-banner-text a {
	display: inline-block;
	width: 200px;
	line-height: 52px;
	border: 1px solid #10b981;
	text-align: center;
	font-size: 18px;
	color: #10b981;
	margin-top: 110px;
}

.tx-banner .swiper-pagination {
	max-width: 1660px;
	margin: 0 auto;
	bottom: 146px;
	text-align: right;
	right: 0;
	padding-right: 60px;
	padding-bottom: 22px;
}

.tx-banner .swiper-pagination:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 338px;
	height: 1px;
	background: #fff;
	opacity: 0.5;
}

.tx-banner .swiper-pagination-bullet {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	opacity: 1;
	width: auto;
	height: auto;
	background: none;
	margin: 0 19px !important;
}

.tx-banner .swiper-pagination-bullet-active {
	font-size: 40px;
	color: #edba4d;
}

.tx-banner .button {
	position: absolute;
	height: 52px;
	bottom: 163px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1660px;
	width: 100%;
}

.tx-banner .swiper-button-next:after,
.tx-banner .swiper-button-prev:after {
	display: none;
}

.tx-banner .swiper-button-prev {
	left: auto;
	right: 300px;
}

.tx-banner .swiper-button-next {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.tx-banner .swiper-button i {
	font-size: 30px;
	color: #fff;
}

.tx-banner .swiper-button:hover i {
	color: #edba4d;
}

.tx-gonggao {
	position: relative;
	z-index: 20;
	margin-top: -56px;
	padding: 10px 0;
}

.tx-gonggao:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.7;
	z-index: -1;
}

.tx-gonggao-main {
	position: relative;
	width: 100%;
}

.tx-gonggao-main i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
	color: #10b981;
	line-height: 36px;
}

.tx-gonggao-main .swiper-container {
	float: left;
	width: 100%;
	height: 36px;
	overflow: hidden;
	padding: 0 40px;
}

.tx-gonggao-main .swiper-slide {
	line-height: 36px;
}

.tx-gonggao-main .swiper-slide a {
	float: left;
	width: 70%;
	font-size: 15px;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	margin-right: 5%;
}

.tx-gonggao-main .swiper-slide span {
	float: left;
	width: 25%;
	font-size: 14px;
	color: #888;
	text-align: right;
}

.tx-mainnav {
	padding: 42px 0;
	background: #f6f6f6;
}

.tx-mainnav-main li {
	width: 20%;
	text-align: center;
}

.tx-mainnav-main li span {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 170px;
	border: 8px solid #10b981;
	border-radius: 50%;
	z-index: 10;
}

.tx-mainnav-main li span:before {
	content: '';
	position: absolute;
	left: -8px;
	bottom: -8px;
	width: 170px;
	height: 85px;
	background: #f6f6f6;
	z-index: -1;
}

.tx-mainnav-main li:nth-child(2) span {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.tx-mainnav-main li:nth-child(3) span {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

.tx-mainnav-main li:nth-child(4) span {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.tx-mainnav-main li:nth-child(5) span:before {
	bottom: auto;
	top: -8px;
}

.tx-mainnav-main li i {
	display: inline-block;
	width: 140px;
	height: 140px;
	border: 2px solid #10b981;
	background: #fff;
	border-radius: 50%;
	line-height: 140px;
	font-size: 58px;
	color: #10b981;
	margin-top: 7px;
}

.tx-mainnav-main li:nth-child(2) i {
	transform: rotate(-45deg);
}

.tx-mainnav-main li:nth-child(3) i {
	transform: rotate(-90deg);
}

.tx-mainnav-main li:nth-child(4) i {
	transform: rotate(-135deg);
}

.tx-mainnav-main li h3 {
	position: relative;
	z-index: 20;
	font-size: 18px;
	margin-top: 20px;
}

.tx-mainnav-main li:hover span {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.tx-mainnav-main li:hover:nth-child(2) span {
	transform: rotate(405deg);
	-webkit-transform: rotate(405deg);
}

.tx-mainnav-main li:hover:nth-child(3) span {
	transform: rotate(90deg);
	-webkit-transform: rotate(450deg);
}

.tx-mainnav-main li:hover:nth-child(4) span {
	transform: rotate(495deg);
	-webkit-transform: rotate(495deg);
}

.tx-title {
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	z-index: 10;
}

.tx-title h3 {
	font-size: 32px;
	line-height: 32px;
}

.tx-title h4 {
	font-size: 46px;
	color: #000;
	position: relative;
	z-index: -1;
	margin-top: -52px;
	opacity: 0.06;
	font-weight: bold;
}

.tx-title i {
	display: inline-block;
	width: 90px;
	height: 2px;
	background: #edba4d;
	margin-top: 15px;
}

.tx-boxsa {
	position: fixed;
	right: 10px;
	top: 50%;
	z-index: 999;
	margin-top: -170px;
}

.tx-boxsa li {
	position: relative;
	clear: both;
	text-align: center;
	margin-bottom: 15px;
	cursor: pointer;
}

.tx-boxsa li i {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	line-height: 60px;
	font-size: 28px;
	border-radius: 50%;
	overflow: hidden;
}

.tx-boxsa li i:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fa7a19;
	z-index: -1;
	opacity: 0.7;
}

.tx-boxsa li i b {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fa7a19;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	animation: scc 2s infinite;
	-webkit-animation: scc 2s infinite;
}

.tx-boxsa li h3 {
	font-size: 13px;
	color: #fa7a19;
	margin-top: 6px;
}

.tx-boxsa li.tel span {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100%;
	margin: auto 0;
	margin-right: 32px;
	width: 200px;
	height: 42px;
	line-height: 42px;
	background: #edba4d;
	padding: 0 20px;
	border-radius: 99px;
	font-size: 22px;
	color: #fff;
}

.tx-boxsa li.tel span:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 99.6%;
	margin: auto 0;
	width: 0;
	height: 0;
	border: 8px solid;
	border-color: transparent transparent transparent #edba4d;
}

.tx-boxsa li.tel:hover span {
	display: block;
}

.tx-boxsa li.wx span {
	display: none;
	position: absolute;
	bottom: 0;
	right: 100%;
	margin-right: 32px;
	width: 120px;
	height: 120px;
	background: #edba4d;
	padding: 5px;
	border-radius: 8px;
}

.tx-boxsa li.wx span:before {
	content: '';
	position: absolute;
	bottom: 35px;
	left: 99.6%;
	width: 0;
	height: 0;
	border: 8px solid;
	border-color: transparent transparent transparent #edba4d;
}

.tx-boxsa li.wx:hover span {
	display: block;
}

.tx-product {
	position: relative;
}

.tx-product-nav {
	position: relative;
	z-index: 20;
	margin-bottom: 22px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 18px;
}

.tx-product-nav li {
	width: 10%;
	padding: 0 1px;
}

.tx-product-nav li a {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
	background: #fff;
}

.tx-product-nav li.active a,
.tx-product-nav li a:hover {
	background: #10b981;
	color: #fff;
}

.tx-product-nav a.more {
	width: 150px;
	line-height: 42px;
	font-size: 16px;
	text-align: center;
	background: #edba4d;
	color: #333;
	border-radius: 99px;
	color: #fff;
}

.tx-product-main {
	position: relative;
}

.tx-product-main .swiper-slide {
	width: 24.1%;
	margin-left: 1.2%;
}

.tx-product-main .swiper-slide:first-child {
	margin-left: 0;
}

.tx-product-main .swiper-slide .text {
	background: #f6f6f6;
	text-align: center;
	padding: 25px 30px 28px;
}

.tx-product-main .swiper-slide .text h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}

.tx-product-main .swiper-slide .text i {
	display: inline-block;
	width: 62px;
	height: 1px;
	background: #edba4d;
	margin: 12px 0 15px;
}

.tx-product-main .swiper-slide .text em {
	display: block;
	font-size: 15px;
	line-height: 24px;
	height: 48px;
	overflow: hidden;
}

.tx-product-main .swiper-slide .img {
	height: 210px;
	overflow: hidden;
}

.tx-product-main .swiper-slide .img img {
	width: 100%;
	height: 100% !important;
}

.tx-product-main .swiper-slide a:hover .img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.tx-product-main .swiper-slide a:hover .text {
	background: #10b981;
}

.tx-product-main .swiper-slide a:hover .text h3,
.tx-product-main .swiper-slide a:hover .text em {
	color: #fff;
}

.tx-product-main {
	display: none;
}

.tx-product-main.active {
	display: block;
}

.tx-service {
	padding-bottom: 0;
}

.tx-service {
	position: relative;
	background: #f6f6f6;
}

.tx-service-main .swiper-slide {
	z-index: 10;
	cursor: pointer;
}

.tx-service-main .swiper-slide:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.12;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.tx-service-main .swiper-slide:nth-child(6n-5):before {
	background-image: url('../images/product-bg1.jpg');
}

.tx-service-main .swiper-slide:nth-child(6n-4):before {
	background-image: url('../images/product-bg2.jpg');
}

.tx-service-main .swiper-slide:nth-child(6n-3):before {
	background-image: url('../images/product-bg3.jpg');
}

.tx-service-main .swiper-slide:nth-child(6n-2):before {
	background-image: url('../images/product-bg4.jpg');
}

.tx-service-main .swiper-slide:nth-child(6n-1):before {
	background-image: url('../images/product-bg5.jpg');
}

.tx-service-main .swiper-slide:nth-child(6n):before {
	background-image: url('../images/product-bg6.jpg');
}

.tx-service-main .swiper-button {
	height: 100%;
	background: #000;
	top: 0;
	margin-top: 0;
	width: 30px;
	opacity: 0;
}

.tx-service-main .swiper-slide:hover:before {
	opacity: 0.28;
}

.tx-service-main:hover .swiper-button {
	opacity: 0.2;
}

.tx-service-main .swiper-button-next {
	right: 0;
}

.tx-service-main .swiper-button-prev {
	left: 0;
}

.tx-service-main .swiper-button-prev:after,
.tx-service-main .swiper-button-next:after {
	font-size: 18px;
	color: #fff;
}

.tx-service-main {
	background: #10b981;
}

.tx-service-main .main {
	position: relative;
	text-align: center;
	padding: 113px 20px;
	height: 400px;
}

.tx-service-main .main i {
	position: relative;
	display: inline-block;
	width: 110px;
	height: 110px;
	background: #fff;
	border-radius: 50%;
	color: #10b981;
	line-height: 110px;
	font-size: 52px;
	z-index: 10;
}

.tx-service-main .main i:before {
	content: '';
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	left: -5px;
	top: -5px;
	background: #fff;
	opacity: 0.39;
	z-index: -1;
}

.tx-service-main .main h3 {
	font-size: 18px;
	color: #fff;
	margin-top: 35px;
	line-height: 30px;
}

.tx-service-main .main .more {
	position: relative;
	z-index: 10;
	display: inline-block;
	width: 160px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	line-height: 46px;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-top: 0px;
}

.tx-service-main .main .more:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: #fff;
	z-index: -1;
}

.tx-service-main .main .more:hover:before {
	width: 100%;
}

.tx-service-main .main:hover {
	padding: 85px 20px;
}

.tx-service-main .main:hover .more {
	height: 46px;
	opacity: 1;
	margin-top: 30px;
}

.tx-service-main .main .more:hover {
	color: #10b981;
}

.tx-advantage-main li {
	position: relative;
	margin-left: 2.66%;
	width: 23%;
	border: 1px solid #e2e2e2;
	padding: 30px;
	z-index: 10;
	height: 236px;
}

.tx-advantage-main li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -1;
	background: url('../images/advantage-bg.jpg');
	background-size: 100% 100%;
}

.tx-advantage-main li:nth-child(1) {
	margin-left: 0;
}

.tx-advantage-main li h3 {
	font-size: 22px;
	line-height: 30px;
	color: #10b981;
	margin-bottom: 10px;
}

.tx-advantage-main li em {
	font-size: 15px;
	line-height: 26px;
	color: #666;
	min-height: 104px;
}

.tx-advantage-main li:hover::before {
	height: 100%;
}

.tx-advantage-main li:hover h3,
.tx-advantage-main li:hover em {
	color: #fff;
}

.tx-advatage-more {
	text-align: center;
}

.tx-advatage-more a {
	display: inline-block;
	line-height: 52px;
	padding: 0 30px;
	border-radius: 3px;
	background: #edba4d;
	font-size: 17px;
	margin-top: 60px;
}

.tx-about {
	background: #f6f6f6;
	padding-bottom: 0;
}

.tx-about-nav {
	width: 80%;
	margin: -20px 10% 50px;
}

.tx-about-nav li {
	width: 25%;
}

.tx-about-nav li:first-child {
	border-left: 1px solid #e2e2e2;
}

.tx-about-nav li a {
	display: block;
	font-size: 18px;
	line-height: 66px;
	text-align: center;
	background: #fff;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-left: 0;
}

.tx-about-nav li a:hover,
.tx-about-nav li.active a {
	background: #10b981;
	color: #fff;
}

.tx-about-main {
	display: none;
}

.tx-about-main.about {
	background: #10b981;
}

.tx-about-main.active {
	display: block;
}

.tx-about-main.about li {
	overflow: hidden;
}

.tx-about-main.about li:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1s);
}

.tx-about-main.about .one {
	width: 31%;
}

.tx-about-main.about .two {
	width: 16.17%;
}

.tx-about-main.about .three {
	position: relative;
	width: 28.18%;
	padding: 63px 50px;
	color: #fff;
	left: 40%;
}

.tx-about-main.about .three h3 {
	font-size: 30px;
}

.tx-about-main.about .three h4 {
	font-size: 14px;
	margin: 10px 0 20px;
}

.tx-about-main.about .three p {
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 10px;
}

.tx-about-main.about .three a {
	display: inline-block;
	width: 160px;
	line-height: 38px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin-top: 70px;
}

.tx-about-main.about .three a:hover {
	background: #fff;
	color: #10b981;
}

.tx-about-main.about .four {
	width: 24.65%;
}

.tx-about-main.about img {
	float: left;
}

.tx-about-main.honor {
	margin-top: -20px;
}

.tx-about-main.honor li {
	width: 25%;
	padding: 20px 20px 0;
}

.tx-about-main.honor li .img {
	position: relative;
	height: 225px;
	overflow: hidden;
	padding: 12px;
	z-index: 10;
	text-align: center;
}

.tx-about-main.honor li .img:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	background: url('../images/service-bg.jpg') center center;
	background-size: 100% auto;
	opacity: 0.2;
}

.tx-about-main.honor li .img img {
	height: 100% !important;
}

.tx-about-main.honor li h3 {
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}

.tx-about-main.map {
	text-align: center;
	background: #f6f6f6;
	margin-top: -20px;
}

.tx-about-main.map li {
	width: 14.28%;
	padding: 20px 8px 0;
}

.tx-about-main.map li .img {
	height: 225px;
	overflow: hidden;
	z-index: 10;
	text-align: center;
}

.tx-about-main.map li .img img {
	width: 100%;
	height: 100%;
}

.tx-about-main.map li h3 {
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	overflow: hidden;
	text-align: center;
	background: #fff;
}


.tx-flow .hr {
	position: relative;
	height: 1px;
	border-bottom: 1px dashed #a1a1a1;
	margin-top: -10px;
	z-index: -1;
}

.tx-flow .hr:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #a1a1a1;
}

.tx-flow .hr:after {
	content: '';
	position: absolute;
	top: -5px;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #a1a1a1;
}

.tx-flow-main {
	position: relative;
	margin-top: 54px;
}

.tx-flow-main li {
	width: 16.66%;
	padding: 0 20px;
	text-align: center;
	cursor: pointer;
}

.tx-flow-main li .text {
	background: #f6f6f6;
	border: 1px solid #e2e2e2;
	padding-bottom: 20px;
}

.tx-flow-main li .text i {
	position: relative;
	top: 0;
	display: inline-block;
	width: 108px;
	height: 108px;
	line-height: 91px;
	background: #fff;
	border: 8px solid #10b981;
	border-radius: 50%;
	margin-top: -54px;
	font-size: 50px;
	color: #10b981;
}

.tx-flow-main li .text i:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 100%;
	margin-top: 6px;
	width: 0;
	height: 0;
	border-width: 22px 12px 0px 12px;
	border-style: solid;
	border-color: #10b981 transparent transparent transparent;
}

.tx-flow-main li .text h3 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 38px;
}

.tx-flow-main li b {
	position: relative;
	z-index: 20;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: normal;
	text-align: center;
	background: #888;
	border-radius: 50%;
	color: #fff;
	margin-top: 70px;
}

.tx-flow-main li b:before {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	left: -2px;
	top: -2px;
	background: #888;
	opacity: 0.55;
	border-radius: 50%;
	z-index: -1;
}

.tx-flow-main li:hover .text i {
	top: -20px;
}

.tx-flow-main li:hover b {
	background: #edba4d;
}

.tx-flow-main li:hover b:before {
	background: #edba4d;
}

.tx-forms {
	background-image: linear-gradient(to bottom, rgb(15, 165, 107), rgb(90, 217, 90));
	padding: 10px 0;
}

.tx-forms .title {
	font-size: 22px;
	line-height: 41px;
	color: #fff;
}

.tx-forms .main {
	width: 65%;
}

.tx-forms .main input {
	float: left;
	width: 26%;
	line-height: 41px;
	height: 41px;
	border-radius: 4px;
	border: none;
	background: #fff;
	padding: 0 15px;
	margin-left: 1%;
	font-size: 14px;
}

.tx-forms .main input[type="submit"] {
	width: 18%;
	background: #edba4d;
	cursor: pointer;
}

.tx-forms .main input[type="submit"]:hover {
	opacity: 0.8;
}

.tx-footer {
	background: #2f2f2f;
	padding: 60px 0 30px;
}

.tx-footer-main .navs {
	position: relative;
	padding: 0 40px 0 64px;
}

.tx-footer-main .navs:before {
	content: '';
	position: absolute;
	right: 0;
	top: 7%;
	width: 1px;
	height: 86%;
	background: #fff;
	opacity: 0.1;
}

.tx-footer-main .navs:nth-child(1) {
	padding-left: 0;
}

.tx-footer-main span h3 {
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
}

.tx-footer-main span a,
.tx-footer-main span p {
	color: #fff;
	opacity: 0.6;
	font-size: 14px;
	line-height: 36px;
	margin-right: 35px;
}

.tx-footer-main span a:hover {
	opacity: 1;
}

.tx-footer-main .contact {
	padding-left: 124px;
}

.tx-footer-main .contact h4 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 8px;
}

.tx-footer-main .ewm {
	text-align: center;
	padding: 35px 35px 0 0;
}

.tx-footer-main .ewm p {
	margin-right: 0;
}

.tx-footer-main .friend {
	position: relative;
	margin-top: 36px;
	padding-top: 22px;
}

.tx-footer-main .friend:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	opacity: 0.1;
}

.tx-footer-main .friend h3,
.tx-footer-main .friend a {
	float: left;
	margin-bottom: 0;
	line-height: 36px;
	margin-right: 25px;
}

.tx-footer-down {
	line-height: 25px;
	color: #8b8b8b;
	text-align: center;
	padding: 8px 0;
	font-size: 14px;
	background: #000;
}

.tx-footer-down a {
	color: #8b8b8b;
}

.tx-footer-down a:hover {
	color: #fff;
}

.tx-banners {
	position: relative;
	height: 420px;
}

.tx-banners.about {
	background: url('../images/DM_20230416193514_005.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners.product {
	background: url('../images/DM_20230416193514_007.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners.contact {
	background: url('../images/ban-contact.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners.join {
	background: url('../images/ban-join.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners.service {
	background: url('../images/DM_20230416193514_006.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners.news {
	background: url('../images/ban-news.jpg') top center no-repeat;
	background-attachment: fixed;
}

.tx-banners-text {
	position: absolute;
	top: 88px;
	bottom: 0;
	left: 0;
	margin: auto 0;
	height: 225px;
	text-align: center;
	color: #fff;
}

.tx-banners-text h3 {
	font-size: 36px;
}

.tx-banners-text h4 {
	font-size: 24px;
	margin-top: 12px;
}

.tx-banners-text i {
	position: relative;
	top: 0;
	display: inline-block;
	font-size: 48px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	font-family: "宋体";
	margin-top: 80px;
	animation: top 1s infinite;
	-webkit-animation: top 1s infinite;
}

.tx-navs li {
	width: 25%;
}

.tx-navs.aboutsssss li {
	width: 33.33%;
}

.tx-navs.navs10 li {
	width: 10%;
}

.tx-navs.navs5 li {
	width: 20%;
}

.tx-navs li a {
	position: relative;
	display: block;
	font-size: 16px;
	color: #fff;
	line-height: 58px;
	background: #10b981;
	text-align: center;
	z-index: 10;
}

.tx-navs li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background: #fff;
	opacity: 0.12;
	z-index: -1;
}

.tx-navs li:hover a:before,
.tx-navs li.active a:before {
	width: 100%;
	opacity: 0.5;
}

.tx-titles {
	margin-bottom: 30px;
	text-align: center;
}

.tx-titles h4 {
	font-size: 32px;
	color: #10b981;
	font-weight: bold;
}

.tx-titles h3 {
	font-size: 24px;
	margin: 5px 0 25px;
}

.tx-titles i {
	display: inline-block;
	width: 68px;
	height: 1px;
	background: #edba4d;
}

.tx-abouts1-left {
	width: 100%;
	padding-top: 50px;
}

.tx-abouts1-left .swiper-container {
	padding-bottom: 54px;
}

.tx-abouts1-left .swiper-pagination {
	bottom: 0;
}

.tx-abouts1-left .swiper-pagination-bullet-active {
	background: #10b981 !important;
}

.tx-abouts1-left .swiper-slide h3 {
	font-size: 16px;
	line-height: 50px;
	background: #f5f5f5;
	text-align: center;
	padding: 0 15px;
	height: 50px;
	overflow: hidden;
}

.tx-abouts1-left .swiper-slide {
	cursor: pointer;
}

.tx-abouts1-left .swiper-slide:hover h3 {
	background: #10b981;
	color: #fff;
}

.tx-abouts1-left .swiper-pagination span {
	width: 10px;
	height: 10px;
	background: #bfbfbf;
	opacity: 1;
	margin: 0 10px !important;
}

.tx-abouts1-right {
	width: 100%;
}

.tx-abouts1-right p {
	font-size: 16px;
	line-height: 36px;
	text-indent: 2em;
	margin-bottom: 10px;
}

.tx-abouts2 {
	background: #f6f6f6;
}

.tx-abouts2-nav li {
	width: 155px;
	height: 155px;
	overflow: hidden;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;
	margin-left: -43px;
}

.tx-abouts2-nav li:first-child {
	margin-left: 0;
}

.tx-abouts2-nav li:nth-child(2n) {
	margin-top: 110px;
}

.tx-abouts2-nav li .main {
	position: absolute;
	top: -38px;
	left: -38px;
	width: 225px;
	height: 225px;
	background-position: center center;
	background-repeat: no-repeat;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.tx-abouts2-nav li .main:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #10b981;
	opacity: 0.4;
}

.tx-abouts2-nav li .main h3 {
	position: absolute;
	font-size: 20px;
	color: #fff;
	line-height: 28px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
}

.tx-abouts2-nav li:hover .main:before,
.tx-abouts2-nav li.active .main:before {
	opacity: 0.8;
}

.tx-abouts2-nav li:nth-child(1) .main {
	background-image: url('../images/abouts2-img1.jpg');
}

.tx-abouts2-nav li:nth-child(2) .main {
	background-image: url('../images/abouts2-img2.jpg');
}

.tx-abouts2-nav li:nth-child(3) .main {
	background-image: url('../images/abouts2-img3.jpg');
}

.tx-abouts2-nav li:nth-child(4) .main {
	background-image: url('../images/abouts2-img4.jpg');
}

.tx-abouts2-nav li:nth-child(5) .main {
	background-image: url('../images/abouts2-img5.jpg');
}

.tx-abouts2-nav li:nth-child(6) .main {
	background-image: url('../images/abouts2-img6.jpg');
}

.tx-abouts2-nav li:nth-child(7) .main {
	background-image: url('../images/abouts2-img7.jpg');
}

.tx-abouts2-nav li:nth-child(8) .main {
	background-image: url('../images/abouts2-img8.jpg');
}

.tx-abouts2-nav li:nth-child(9) .main {
	background-image: url('../images/abouts2-img9.jpg');
}

.tx-abouts2-nav li:nth-child(10) .main {
	background-image: url('../images/abouts2-img10.jpg');
}

.tx-abouts2-nav li:nth-child(11) .main {
	background-image: url('../images/abouts2-img11.jpg');
}

.tx-abouts2-main {
	position: relative;
	display: none;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 8px;
	font-size: 16px;
	line-height: 28px;
	padding: 30px 90px;
	margin-top: 110px;
}

.tx-abouts2-main.active {
	display: block;
}

.tx-abouts2-main:before {
	content: '';
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -17px;
	width: 0;
	height: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 25px solid #fff;
}

.tx-abouts3 {
	position: relative;
	z-index: 20;
}

.tx-abouts3:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../images/chen-bg.jpg') center center no-repeat;
	opacity: 0.15;
}

.tx-abouts3-main li {
	position: relative;
	z-index: 10;
	width: 23.5%;
	margin-left: 2%;
	border: 1px solid #e2e2e2;
	text-align: center;
	padding: 35px 40px;
	margin-bottom: 20px;
	cursor: pointer;
}

.tx-abouts3-main li:nth-child(4n-3) {
	margin-left: 0;
}

.tx-abouts3-main li:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.4;
}

.tx-abouts3-main li h3 {
	font-size: 20px;
	font-weight: bold;
}

.tx-abouts3-main li em {
	display: block;
	font-size: 15px;
	line-height: 25px;
	margin-top: 10px;
}

.tx-abouts3-main li:hover:before {
	background: #10b981;
	opacity: 1;
}

.tx-abouts3-main li:hover h3,
.tx-abouts3-main li:hover em {
	color: #fff;
}

.tx-honorl-main li {
	width: 23.5%;
	margin-left: 2%;
	border: 1px solid #e2e2e2;
	padding: 12px;
	cursor: pointer;
	margin-bottom: 30px;
}

.tx-honorl-main li:nth-child(4n-3) {
	margin-left: 0;
}

.tx-honorl-main li .img {
	position: relative;
	height: 190px;
	overflow: hidden;
	background: #f6f6f6;
}

.tx-honorl-main li .img img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100% !important;
}

.tx-honorl-main li h3 {
	font-size: 16px;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	text-align: center;
	margin-top: 15px;
}

.tx-honorl-main li .boxs {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.tx-honorl-main li .boxs:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: -1;
}

.tx-honorl-main li .boxs img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
	padding: 15px;
	background: #fff;
}

.tx-honorl-main li .boxs i {
	position: absolute;
	right: 50px;
	top: 50px;
	z-index: 10;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}


.tx-equipmentl-main li {
	width: 23.5%;
	margin-left: 2%;
	padding: 12px;
	cursor: pointer;
	margin-bottom: 20px;
	background: #f6f6f6;
}

.tx-equipmentl-main li:nth-child(4n-3) {
	margin-left: 0;
}

.tx-equipmentl-main li .img {
	position: relative;
	height: 220px;
	overflow: hidden;
	background: #f6f6f6;
}

.tx-equipmentl-main li .img img {
	width: 100%;
	height: 100% !important;
}

.tx-equipmentl-main li h3 {
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	margin-top: 12px;
}

.tx-equipmentl-main li:hover {
	background: #10b981;
}

.tx-equipmentl-main li:hover h3 {
	color: #fff;
}

.tx-equipmentl-main li:hover .img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.tx-network-main #container {
	width: 100%;
	height: 780px;
	margin-top: -120px;
}

.tx-productl-main li {
	width: 23.5%;
	margin-left: 2%;
	margin-bottom: 40px;
}

.tx-productl-main li:nth-child(4n-3) {
	margin-left: 0;
}

.tx-productl-main li .text {
	padding: 28px 22px 20px;
	background: #f6f6f6;
}

.tx-productl-main li .text h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 19px;
	padding-left: 18px;
	border-left: 3px solid #10b981;
	height: 19px;
	overflow: hidden;
	margin-bottom: 15px;
}

.tx-productl-main li .text em {
	display: block;
	font-size: 14px;
	line-height: 24px;
	height: 72px;
	overflow: hidden;
	color: #888;
}

.tx-productl-main li .img {
	height: 200px;
	overflow: hidden;
}

.tx-productl-main li .img img {
	width: 100%;
	height: 100% !important;
}

.tx-productl-main li:hover .img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.tx-productl-main li:hover .text {
	background: #10b981;
}

.tx-productl-main li:hover .text h3 {
	color: #fff;
	border-color: #ffff;
}

.tx-productl-main li:hover .text em {
	color: #fff;
}

.tx-mains.product {
	background: #f6f6f6;
}

.tx-newsc-left {
	width: 65%;
	padding-top: 20px;
}

.tx-newsc-left.product {
	border: 1px solid #e2e2e2;
	width: 100%;
	padding: 60px 70px;
	background: #fff;
}

.tx-newsc-left .title {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 30px;
	margin-bottom: 36px;
}

.tx-newsc-left .title h3 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}

.tx-newsc-left .title em {
	display: inline-block;
	font-size: 14px;
	color: #666;
	margin-right: 30px;
}

.tx-newsc-left .title em i {
	display: inline-block;
	margin-right: 8px;
	font-size: 16px;
	color: #10b981;
	position: relative;
	top: 2px;
}

.tx-newsc-left .title em .bshare-custom {
	display: inline-block;
}

.tx-newsc-left .downs {
	margin-top: 45px;
	border-top: 1px solid #e2e2e2;
	padding-top: 30px;
	font-size: 16px;
}

.tx-newsc-left .downs span {
	width: 50%;
}

.tx-newsc-left .downs span.fl {
	padding-right: 20px;
}

.tx-newsc-left .downs span.fr {
	padding-left: 20px;
	text-align: right;
}

.tx-newsc-left .downs a {
	font-size: 16px;
}

.tx-newsc-right {
	width: 29%;
	padding: 30px;
	background: #f6f6f6;
}

.tx-newsc-right .titles {
	font-size: 20px;
	font-weight: bold;
	border-left: 5px solid #10b981;
	line-height: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.tx-newsc-right .mains .swiper-container {
	padding-bottom: 30px;
}

.tx-newsc-right .mains .swiper-pagination {
	bottom: 0;
}

.tx-newsc-right .mains .swiper-pagination-bullet-active {
	background: #10b981;
}

.tx-newsc-right .mains .swiper-slide {
	background: #fff;
	border: 1px solid #e2e2e2;
}

.tx-newsc-right .mains .img {
	position: relative;
	height: 188px;
	overflow: hidden;
}

.tx-newsc-right .mains .img img {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 100%;
}

.tx-newsc-right .mains .text {
	padding: 0 30px 20px;
}

.tx-newsc-right .mains h3 {
	font-size: 15px;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	border-bottom: 1px solid #e2e2e2;
}

.tx-newsc-right .mains em {
	color: #999;
	display: block;
	margin-top: 12px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}

.tx-newsc-right .navs {
	margin-bottom: 15px;
	position: relative;
	z-index: 20;
	margin-top: 25px;
}

.tx-newsc-right .navs li {
	position: relative;
	width: 50%;
	background: #fff;
	border: 1px solid #e2e2e2;
}

.tx-newsc-right .navs li a {
	display: block;
	font-size: 16px;
	text-align: center;
	line-height: 38px;
}

.tx-newsc-right .navs li:before {
	content: '';
	position: absolute;
	z-index: -1;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: #10b981 transparent transparent;
}

.tx-newsc-right .navs li.active:before {
	opacity: 1;
	top: 100%;
}

.tx-newsc-right .navs li.active {
	background: #10b981;
	border-color: #10b981;
}

.tx-newsc-right .navs li.active a {
	color: #fff;
}

.tx-newsc-right .mainss {
	display: none;
}

.tx-newsc-right .mainss.active {
	display: block;
}

.tx-newsc-right .mainss li {
	margin-top: 10px;
	width: 100%;
}

.tx-newsc-right .mainss li h3 {
	width: 70%;
	position: relative;
	font-size: 15px;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	padding: 0 20px;
}

.tx-newsc-right .mainss li h3 i {
	position: absolute;
	left: 0;
	top: 13px;
	width: 6px;
	height: 6px;
	background: #10b981;
	border-radius: 50%;
}

.tx-newsc-right .mainss li em {
	width: 30%;
	color: #999;
	text-align: right;
	line-height: 32px;
	color: #999;
}

.tx-contentss img {
	position: relative;
	margin: 15px 0;
}

.tx-contentss p {
	font-size: 16px;
	line-height: 2;
	margin-bottom: 12px;
	text-indent: 2em;
}

.tx-contentss h3 {
	font-size: 18px;
	font-weight: bold;
	color: #10b981;
	margin: 20px 0;
}

.tx-contentss h3:nth-child(1) {
	margin-top: 0;
}

.tx-contentss table {
	border: 1px solid #e2e2e2;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

.tx-contentss table td {
	border: 1px solid #e2e2e2;
	line-height: 46px;
}

.tx-contentss table tr:first-child {
	background: #10b981;
	color: #fff;
}

.tx-contentss table p {
	text-indent: 0;
	margin-bottom: 0
}

.tx-page {
	text-align: center;
	margin-top: 38px;
}

.tx-page span,
.tx-page a {
	display: inline-block;
	margin: 0 3px;
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	border-radius: 50%;
}

.tx-page span.nolink {
	display: none;
}

.tx-page span.current {
	background: #10b981;
}

.tx-page span font {
	color: #fff;
}

.tx-page span:first-child {
	display: none;
}

.tx-page span:hover,
.tx-page a:hover {
	border-color: #10b981;
}

.tx-page.abouts4 span,
.tx-page.abouts4 a {
	color: #fff;
}

.tx-page a.onleft {
	margin-right: 30px;
	font-family: '宋体';
}

.tx-page a.onright {
	margin-left: 30px;
	font-family: '宋体';
}

.tx-contacts {
	padding: 72px 0 46px;
}

.tx-contacts .tx-titles {
	text-align: left;
	margin-bottom: 0;
}

.tx-contacts .main {
	position: relative;
	padding-left: 76px;
	margin-left: 76px;
}

.tx-contacts .main:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0px;
	width: 1px;
	height: 126px;
	background: #e2e2e2;
}

.tx-contacts .ewm {
	text-align: center;
}

.tx-contacts .ewm h6 {
	font-size: 12px;
}

.tx-contacts .main p {
	font-size: 16px;
	line-height: 36px;
}

.tx-contacts .main p i {
	margin-right: 12px;
	font-size: 20px;
}

.tx-contacts .main h3 {
	font-size: 30px;
	color: #10b981;
	font-weight: bold;
	margin-bottom: 10px;
}

.tx-contacts .main h4 {
	font-size: 20px;
	font-weight: bold;
	color: #10b981;
	margin-bottom: 5px;
}

.tx-contacts .main h4 i {
	font-size: 26px;
	margin-right: 12px;
}

.tx-contacts-map {
	padding-bottom: 72px;
}

.tx-contacts-map #map {
	width: 100%;
	height: 600px;
}

.tx-contacts-map #map img {
	max-width: none;
}

.tx-joinl-main li {
	padding: 0 22px;
	width: 50%;
	margin-bottom: 40px;
}

.tx-joinl-main li a {
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2
}

.tx-joinl-main li a:before {
	content: '';
	position: absolute;
	left: 18%;
	top: 0;
	width: 1px;
	height: 100%;
	background: #e2e2e2;
}

.tx-joinl-main li .date {
	width: 18%;
	text-align: center;
	font-size: 14px;
	color: #999;
	padding: 12px 0 20px;
}

.tx-joinl-main li .date b {
	display: block;
	font-size: 36px;
	color: #edba4d;
	font-weight: normal;
}

.tx-joinl-main li .more {
	width: 20%;
	background: #10b981;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	padding: 24px 0 15px;
}

.tx-joinl-main li .title {
	width: 62%;
	padding: 20px 25px;
}

.tx-joinl-main li .title h3 {
	font-size: 17px;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	margin-bottom: 4px;
}

.tx-joinl-main li .title em {
	font-size: 14px;
	color: #999;
}

.tx-joinl-main li a:hover {
	border-left: 5px solid #10b981;
}

.tx-newsl-top {
	background: #f6f6f6;
	margin-bottom: 20px;
}

.tx-newsl-top .swiper-slide .img {
	width: 50%;
	height: 400px;
	overflow: hidden;
}

.tx-newsl-top .swiper-slide .img img {
	width: 100%;
	height: 100%;
}

.tx-newsl-top .swiper-slide .img:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.tx-newsl-top .swiper-slide .text {
	width: 50%;
	padding: 50px;
}

.tx-newsl-top .swiper-slide .text h3 {
	font-size: 22px;
	line-height: 38px;
	height: 38px;
	overflow: hidden;
}

.tx-newsl-top .swiper-slide .text h4 {
	position: relative;
	font-size: 14px;
	color: #888;
	line-height: 40px;
	overflow: hidden;
}

.tx-newsl-top .swiper-slide .text h4:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #e2e2e2;
	left: 58px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.tx-newsl-top .swiper-slide .text em {
	display: block;
	line-height: 30px;
	height: 120px;
	overflow: hidden;
	font-size: 14px;
	color: #888;
}

.tx-newsl-top .swiper-slide .text i {
	display: inline-block;
	padding: 0 35px;
	line-height: 42px;
	background: #10b981;
	color: #fff;
	font-size: 14px;
	margin-top: 60px;
}

.tx-newsl-top .swiper-pagination {
	width: auto;
	left: auto;
	right: 90px;
	bottom: 60px;
}

.tx-newsl-top .swiper-pagination .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #888;
	margin: 0 8px;
}

.tx-newsl-top .swiper-pagination .swiper-pagination-bullet-active {
	background: #10b981;
}

.tx-newsl-main {
	margin-bottom: 30px;
}

.tx-newsl-main li {
	margin-left: 3.6%;
	width: 48.2%;
	margin-top: 36px;
}

.tx-newsl-main li a {
	float: left;
	width: 100%;
	border: 1px solid #e2e2e2;
	padding: 30px 35px;
}

.tx-newsl-main li h3 {
	font-size: 20px;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	font-weight: bold;
	margin-bottom: 12px;
}

.tx-newsl-main li em {
	display: block;
	font-size: 14px;
	color: #666;
	line-height: 30px;
	height: 90px;
	overflow: hidden;
	margin-bottom: 20px;
}

.tx-newsl-main li h4 {
	font-size: 14px;
	color: #edba4d;
	line-height: 30px;
}

.tx-newsl-main li h4 i {
	font-size: 16px;
	margin-right: 12px;
}

.tx-newsl-main li i.fr {
	font-size: 28px;
	line-height: 30px;
}

.tx-newsl-main li:nth-child(2n-1) {
	margin-left: 0;
}

.tx-newsl-main li:hover {
	background: #10b981;
}

.tx-newsl-main li:hover h3,
.tx-newsl-main li:hover h4,
.tx-newsl-main li:hover em,
.tx-newsl-main li:hover h4,
.tx-newsl-main li:hover i.fr {
	color: #fff;
}


.tx-casel-main li {
	width: 23.5%;
	margin-left: 2%;
	padding: 12px 12px 18px;
	cursor: pointer;
	margin-bottom: 30px;
	background: #f6f6f6;
}

.tx-casel-main li:nth-child(4n-3) {
	margin-left: 0;
}

.tx-casel-main li .img {
	position: relative;
	height: 200px;
	overflow: hidden;
	background: #f6f6f6;
}

.tx-casel-main li .img img {
	width: 100%;
	height: 100% !important;
}

.tx-casel-main li h3 {
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	overflow: hidden;
	text-align: center;
	margin-top: 12px;
}

.tx-casel-main li:hover {
	background: #10b981;
}

.tx-casel-main li:hover h3 {
	color: #fff;
}

.tx-casel-main li:hover .img img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.tx-search-main li {
	width: 47%;
	margin-left: 6%;
}

.tx-search-main li:nth-child(2n-1) {
	margin-left: 0;
}

.tx-search-main li a {
	position: relative;
	display: block;
	border-bottom: 1px solid #e2e2e2;
	padding-right: 50px;
	font-size: 16px;
	line-height: 60px;
}

.tx-search-main li a b {
	color: #10b981;
	margin-right: 12px;
}

.tx-search-main li a i {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	background: #10b981;
	width: 28px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}

@keyframes top {
	0% {
		top: 0
	}

	50% {
		top: -20px
	}

	100% {
		top: 0
	}
}

@-webkit-keyframes top {
	0% {
		top: 0
	}

	50% {
		top: -20px
	}

	100% {
		top: 0
	}
}

@keyframes scc {
	0% {
		width: 46px;
		height: 46px;
	}

	50% {
		width: 58px;
		height: 58px;
	}

	100% {
		width: 46px;
		height: 46px;
	}
}

@-webkit-keyframes scc {
	0% {
		width: 46px;
		height: 46px;
	}

	50% {
		width: 58px;
		height: 58px;
	}

	100% {
		width: 46px;
		height: 46px;
	}
}

.tiaotiaojianbian {
	height: 30px;
	z-index: 999;
	width: 100%;
	background-color: #903939;
}

.yidaiduibiaoge {
	width: 1000px;
	height: 1000px;
}

.biaobiaoti {
	height: 20px;
	line-height: 20px;
	margin: auto;
	font-size: 30px;
	color: #3ac361;
	margin-top: 20px;
}